﻿@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Checkmarx Limited<br />
    West London<br />
    <abbr title="Phone">P:</abbr>
    +44 7922404217
</address>

<address>
    <strong>Support:</strong> <a href="mailto:richard.arnold@checkmarx.com">richard@checkmarx.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:richard@checkmarx.com">richard@checkmarx.com</a>
</address>
