﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Richard";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Richard's Page</title>
</head>
<body>
    <h1>Hello, World</h1>
    <h2> The time on the server is @DateTime.Now</h2>
    <p> Welcome to Richard's page. We sell lots of useless items. Our marketing is rubbish and we are fast
    going out of business</p>
</body>
</html>